.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    gap: 2px;
    border-radius: 67px;
    
}

body {
    background-color: rgb(226, 226, 226);
}

h1 {
    text-align: center;
    font-size: 50px !important; /* Try this first to test! */
}

h2 {
    text-align: center;
    font-size: 1000px;
    color:rgb(226, 226, 226);
}

p {
    text-align: center;
    font-size: 25px;
}

.card {
    background-color: #004B23;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-content: center;
    
}

.row > * {
    background-color: #f9f9f9;
    color: #333333;
    
}

button {
    background-color:  #dae2de !important; 
    color: #004B23 !important;
    gap: 20px;
    padding: auto;
}

.row {
    background-color: #13884a;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(226, 226, 226);
    margin-bottom: 20px;
    
}

nav a.w3-card {
    background-color:  #dae2de !important; 
    color: #004B23 !important;
    gap: 20px;
    
}

a {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

nav a.w3-button {
    background-color:  #dae2de !important; 
    color: #004B23 !important;
    gap: 20px;
    padding: auto;
}

nav {
    background-color: #004B23;
    align-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    border-radius: 10000px; 
    text-decoration: none;
    color: black;
    font-size: 30px;
}

input {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    width: 100%; 
    max-width: 400px; 
}

#discription_editor {
    height: 500px;
    text-align: left;

}

.login_stuff {
    float: right !important; 
}