{% extends "layout.html" %}

{% block content %}
<form action="{{ url_for('edit_events') }}" method="POST">
    <label>Event name</label>
    <input type="text" name="event_name" value="{{ event[0] }}">
    <label>Event discription</label>

    <textarea  name="event_discription" cols="40" rows="5"></textarea>

    
    <label>Event points</label>
    <input type="number" name="event_point" min="0" step="1">
    <label>date</label>
    <input type="date" name="event_date">
    <button type="submit">add event</button>
</form>

{% endblock %}