{% extends "layout.html" %}
{% block content %}
<form action="{{ url_for('editPage') }}" method="POST">
    <div class="three-column">
        <div class="w3-column w3-red">
            <label>South</label>
            <input type="number" name="south" value="{{ house_points[0] }}" min="0" step="1">
        </div>
        
        <div class="w3-column w3-blue">
            <label>North</label>
            <input type="number" name="north" value="{{ house_points[1] }}" min="0" step="1">
        </div>
        
        <div class="w3-column w3-yellow">
            <label>West</label>
            <input type="number" name="west" value="{{ house_points[2] }}" min="0" step="1">
        </div>
    </div>
    <button type="submit" style="margin-top: 20px;">Save All Changes</button>


</form>
{% endblock %}