<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Home</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    {% endblock %}
    <div class = "row">
        <div class = "w3 - row">
            <p></p>
        </div>
    </div>
</body>