
{% extends "layout.html" %}
{% block content %}
 
      <h1>Events</h1>
      <div class="w3-row">

        <form action="{{ url_for('home') }}" method="GET">
          <h1 for="search">Search Event:</h1>
          <input 
            type="text" 
            id="search"
            name="search" 
            value="{{ search_query if search_query }}" 
            placeholder="Search events..."
          >
          <button type="submit">Search Events</button>
          {% if search_query %}
            <a href="{{ url_for('home') }}">Clear</a>
          {% endif %}
        </form>

        {% for list_of_events in event %}
          {% if list_of_events[5] == 0 %}
            <nav class="w3-card w3-bar w3-light-grey">
              <a href="{{ url_for('event_detail', id=list_of_events[0]) }}">{{ list_of_events[1] }}</a>
              <h2>{{ list_of_events[3] }}</h2>
                  
              {% if 'user' in session %}
                <a href="{{ url_for('edit_events', id=list_of_events[0]) }}">Edit_event</a>
              {% endif %}
            </nav>
          {% endif %}
        {% else %}
          <p>No events found matching your search.</p>
        {% endfor %}

      </div>

      

{% endblock %}
    
