{% extends "layout.html" %}

{% block content %}
<h1>Password Change</h1>
<form action="{{ url_for('change_password') }}" method="POST">
    <label>Username</label>
    <input type="text" name="username" minlength="3" maxlength="20">
    <label>Password</label>
    <input type="password" name="password">
    <label>New Password</label>
    <input type="password" name="new_password" minlength="3" maxlength="20">
    <button type="submit">Change Password</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}